root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 5
max_line_length = 113
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = 79
trim_trailing_whitespace = false

[{makefile*,Makefile*,*.mk,*.makefile,*.Makefile,*.gitmodules}]
indent_style = tab
